[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Uu]serSettings/
MemoryCaptures/
*.csproj
*.sln
*.user
*.pidb
*.unityproj
*.tmp
*.booproj
*.svd
*.pdb
*.mdb
.vs/
.gradle/
ExportedObj/
sysinfo.txt
*.apk
*.aab
*.unitypackage
